<%= form_with(model: contact_us_message, local: true) do |form| %>
  <% if contact_us_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_us_message.errors.count, "error") %> prohibited this contact_us_message from being saved:</h2>

      <ul>
        <% contact_us_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :feeling %>
    <%= form.text_field :feeling %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
