<p id="notice"><%= notice %></p>

<h1>Contact Us Messages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Feeling</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_us_messages.each do |contact_us_message| %>
      <tr>
        <td><%= contact_us_message.name %></td>
        <td><%= contact_us_message.email %></td>
        <td><%= contact_us_message.phone %></td>
        <td><%= contact_us_message.feeling %></td>
        <td><%= contact_us_message.body %></td>
        <td><%= link_to 'Show', contact_us_message %></td>
        <td><%= link_to 'Edit', edit_contact_us_message_path(contact_us_message) %></td>
        <td><%= link_to 'Destroy', contact_us_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Us Message', new_contact_us_message_path %>
